# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# SQLite
*.db
*.db-shm
*.db-wal
*.db-journal

# Miscellaneous files
.DS_Store
.vscode/
*~
